version: "3.8"
services:
  rocker:
    image: {{ rocker_image }}
    command: jupyter lab --ip=0.0.0.0 --no-browser --IdentityProvider.token='' --NotebookApp.allow_origin='*'
    privileged: true
    ports:
      - "127.0.0.1:{{ rocker_port }}:{{ rocker_port }}"
    volumes:
      - type: bind
        source: /home/{{ ansible_user }}
        target: /home/rstudio
{% if gpu_enable|bool %}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
{% endif %}


