[Unit]
Description=Rocker Jupyter Lab
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory={{ install_dir }}
User={{ ansible_user }}
Group={{ ansible_user }}
Type=simple
StandardOutput=append:{{ install_dir }}/rocker-jupyter-lab.log
StandardError=append:{{ install_dir }}/rocker-jupyter-lab.log
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=always

[Install]
WantedBy=multi-user.target
